:root {
    --pink: #f5d5ff;
    --green: #c6e4de;
    --blue: #b0daf0;
    --salmon: #FDD5D5;
    --h_c: #fff0f0;
    --shadow: rgba(0, 0, 0, 0.2);
    --white: rgb(238, 238, 238);
    --black: #000;
    --c_m: rgb(220, 20, 60);
}

* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 5em;
    min-height: calc(100vh - 105px);
}

main section {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    max-width: 1200px;
    width: 100%;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.invert {
    max-width: 1200px;
}

.invert p:nth-child(2) {
    order: 1
}

.invert p:nth-child(1) {
    order: 2
}

main section p {
    flex: 4;
    justify-content: center;
    line-height: 2;
    padding: 2rem;
    color: var(--black)
}

main section p:nth-child(2) {
    flex: 2;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.Lorealbg {
    background-color: #333;
    background-image: url("../imgs/1024x620/imagen16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
}

.Lancomebg {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #000;
}

.Niveabg {
    background-color: #333;
    background-image: url("../imgs/1024x620/imagen11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
}

.Esteebg {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #000;
}


/*@media (min-width:720px) {
    .invert {
        max-width: 100%;
        padding-left: calc(50vw - 600px);
        padding-right: calc(50vw - 600px);
    }
    .invert p:nth-child(2) {
        order: 1
    }
    .invert p:nth-child(1) {
        order: 2
    }
}*/