:root {
    --pink: #f5d5ff;
    --green: #c6e4de;
    --blue: #b0daf0;
    --salmon: #FDD5D5;
    --h_c: #fff0f0;
    --shadow: rgba(0, 0, 0, 0.2);
    --white: rgb(238, 238, 238);
    --black: #000;
    --c_m: rgb(220, 20, 60);
}

* {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 5em;
    min-height: calc(100vh - 105px);
    box-sizing: border-box;
}

#services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services p {
    color: var(--black);
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

#services img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#services .servicio-top {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: var(--black);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: var(--pink);
}

#services .servicio-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../imgs/640x640/imagen15.jpg);
    background-size: cover;
    margin: 1.5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .9;
    z-index: -1;
}

#services .servicio-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: var(--white);
    text-align: left;
}

.services-container h2 {
    margin: 10px;
    font-style: italic;
    color: var(--shadow)
}